
sample_size_simulation/data_long.csv
sample_size_simulation/.Rhistory
sample_size_simulation/.RData
sample_size_simulation/backup/to.do.ME.csv
sample_size_simulation/backup/to.do.s1.csv
sample_size_simulation/backup/to.do.s2a.csv
sample_size_simulation/backup/to.do.s2b.csv
sample_size_simulation/backup/to.do.s3a.csv
sample_size_simulation/backup/to.do.s3b.csv
.Rproj.user
/analysis/defense
analysis/.RData
analysis/.Rhistory
analysis/apa.csl
/analysis/data_prep
analysis/PIntenWi_manuscript.docx
analysis/PIntenWi_manuscript.pdf
analysis/PIntenWi_manuscript.Rmd
analysis/PIntenWi_manuscript.tex
analysis/PIntenWi_manuscript_240424.tex
analysis/PIntenWi_preprint.log
analysis/PIntenWi_preprint.pdf
analysis/PIntenWi_preprint.synctex.gz
analysis/PIntenWi_preprint.tex
analysis/plots/.DS_Store
analysis/plots/raw_response_s2_red_blue.pdf
analysis/r-references.bib
analysis/references.bib
analysis/word_template.docx
analysis/workspaces/PIntenWi_boot_eva.RData
analysis/~$df_pilot2.xlsx
analysis/~$ntenWi_manuscript.docx
analysis/analysis.Rproj
/analysis/images
analysis/PIntenWi_abstract.pdf
analysis/PIntenWi_manuscript_no_Author.log
analysis/PIntenWi_manuscript_no_Author.pdf
analysis/PIntenWi_manuscript_no_Author.synctex.gz
analysis/PIntenWi_manuscript_no_Author.tex
analysis/PIntenWi_manuscript_v2.aux
analysis/PIntenWi_manuscript_v2.pdf
analysis/PIntenWi_manuscript_v2.Rmd
analysis/PIntenWi_manuscript_v2.tex
